@import '~react-image-gallery/styles/scss/image-gallery.scss';

.gallery {
    background: linear-gradient(
        180deg,
        #5f2f71 0%,
        #eab0a3 25%,
        #f3e1a9 50%,
        #f3e1a9 75%,
        #5f2f71 100%
    );
}

.listOfProjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    min-width: unset;
    width: 960px;
}

.mobileApp {
    height: 100vh;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    &__inside {
        width: 100%;
        height: 100%;
        border: none;
    }
}
