@import '~react-image-gallery/styles/scss/image-gallery.scss';

.gallery {
    background: linear-gradient(180deg, #ffffff 0%, #eab0a3 100%);
}

.listOfProjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    min-width: unset;
    width: 960px;
}
