@import "../../styles/fonts";

.projectContent {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.projectTitle {
		text-align: center;
		padding: 20px;
		font-family: $font-primary;
		font-size: 36px;
	}

	.projectDescription {
		text-align: left;
		padding: 20px 0 ;
		font-family: $font-tertiary;
		font-size: 18px;
	}

	.projectPhoto {
		object-fit: cover;
	}

	@media (min-width: 1000px) {
		.projectPhoto {
			
		}
	}
}