@import "../../styles/fonts";

.projectContent {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	.projectTitle {
		text-align: center;
		padding: 30px 0 20px 0;
		font-family: $font-primary;
		font-size: 36px;
	}

	.projectDescription {
		text-align: left;
		padding: 20px 0 ;
		font-family: $font-tertiary;
		font-size: 18px;
		letter-spacing: 0.1rem;
		text-align: justify;
		line-height: 24px;
	}

	.projectPhoto {
		object-fit: cover;
		padding: 10px 0;
	}

	@media (max-width: 1000px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		.projectPhoto {
			padding: 10px 0;
			margin: 0;
			width:80vw;
		}
	}
}