@import '../../../styles/colors';
@import '../../../styles/fonts';

.LeftNavbar {
    position: fixed;
    top: 50%;
    transform: translate(-95%, -50%); // center on left
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 10;
    background: $primary;

    .navbarTopic {
        color: white;
        font-family: $font-secondary;
        letter-spacing: 2px;
        padding: 20px 30px 20px 100px;
        background: $primary;
        transition: 0.2s;
        border: none;

        &:hover {
            color: black;
            background: $accent;
            transform: translate(15%, 0);
            transition: 0.2s;
            cursor: pointer;
        }

        button {
            background: none;
            border: none;
            color: white;
            font-family: $font-secondary;
            font-size: 1.2rem;
            letter-spacing: 2px;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
    }

    @media (max-width: 1100px) {
        display: none;
    }

    &:hover {
        background: none;
        transform: translate(-25%, -50%);
        transition: 0.2s;
    }
}
