@import "../../styles/container_12";

.topicsList {
	padding-bottom: 200px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.topicsList {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
}