@import "../../styles/colors";

.topic {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;

	.topicPhoto {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		filter: grayscale(100%) brightness(55%);
		transition: 0.3s ease-out;

		& ~ .topicTitleBack {
			transition: 0.3s ease-out;
		}


		&:hover {
			filter: none;
			transition: 0.3s ease-in;
		}

		@media (min-width: 1000px) {
			&:hover ~ .topicTitleFront {
				font-size: 400%;
				padding-top: 180px;
				transition: 0.3s ease-out;
			}

		 	&:hover ~ .topicTitleBack {
				visibility: visible;
				color: $strongaccent;
				font-size: 400%;
				padding-left: 10px;
				padding-top: 200px;
				opacity: 50%;
				transition: 0.3s ease-in-out;
			}
		}
	}

	.topicTitleFront {
		// hidden at the beginning
		
		position: absolute;
		display: flex;
		font-size: 300%;
		user-select: none;
		pointer-events: none;
		z-index: 1;
		transition: 0.3s ease-out;
	}

	.topicTitleBack {
		visibility: hidden;
		position: absolute;
		display: flex;
		font-size: 300%;
		user-select: none;
		pointer-events: none;
		transition: 0.3s ease-out;

	}
}

.card {
	height: 24rem;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: $secondary;
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		transition: opacity .2s ease-out;
	}

	h2 {
		position: absolute;
		inset: auto auto 30px 30px;
		margin: 0;
		transition: inset .3s .3s ease-out;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: normal;
		text-transform: uppercase;
	}
	
	p, a {
		position: absolute;
		opacity: 0;
		max-width: 100%;
		margin: 16px 0;
		transition: opacity .3s ease-out;
	}
	
	p {
		inset: auto 30px 30px 30px;
		display: flex;
	}
	
	a {
		inset: auto auto 40px 30px;
		color: inherit;
		text-decoration: none;
	}

	.arrow {
		scale: 20%;
	}
	
	&:hover h2 {
		inset: auto auto 220px 30px;
		transition: inset .3s ease-out;
	}
	
	&:hover p, &:hover a {
		opacity: 1;
		transition: opacity .5s .1s ease-in;
	}
	
	&:hover img {
		transition: opacity .3s ease-in;
		opacity: 1;
	}
	
}

.material-symbols-outlined {
vertical-align: middle;
}
