@import '../../styles/fonts';
@import '../../styles/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

$font: 'Roboto', sans-serif;

.backgroundOnly {
    height: 100%;

    .home {
        height: 100vh;
        background-image: url('../../images/Website_features/Hero/Wallpapers/Hero_bg.png');
        position: relative;
        overflow-x: clip;

        @media (max-width: 768px) {
            background-image: url('../../images/Website_features/Hero/Wallpapers/Hero_bg_phone.png');
        }

        .stars {
            position: absolute;
            top: 0;
            width: 60vw;
            @media screen and (max-width: 768px) {
                width: 200%;
            }
        }
        .left {
            left: 0;
        }
        .right {
            right: 0;
        }

        .glow {
            position: absolute;
            top: 0;
            width: 100%;
            transform: translateY(-10%);
            @media (max-width: 768px) {
                width: 200%;
                left: 0;
                transform: translateX(-30%) !important;
            }
        }

        .sun {
            position: absolute;
            left: 0;
            top: 10%;
            width: 100%;
            transform: translateY(-30%);
            @media (max-width: 768px) {
                transform: translateY(0%);
            }
        }

        .mountain1,
        .mountain2,
        .mountain3 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        .mountain3 {
            z-index: 3;
        }

        .welcomeText {
            z-index: 4;
            position: absolute;
            top: 108%;
            width: 100%;
            text-align: center;

            color: white;
            font-size: 28px;
            font-family: 'Montserrat';
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;

            @media (max-width: 768px) {
                top: 106%;
                font-size: 24px;
            }
        }

        .nameRoleText {
            position: absolute;
            width: 100%;
            top: 50%;
            text-align: center;
            transform: translate(0, -50%);
            font-size: 48px;
            font-family: 'Roboto Slab', serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;

            p {
                font-size: 24px;
                font-family: 'Roboto Slab', serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
            }
        }

        .separator {
            position: absolute;
            top: 0;
            width: 100%;
            transform: translateY(121vh);
        }
    }
}
