header {
	display: flex;
	gap: 40px;
	padding: 0 clamp(0px,2vw, 50px);
	min-height: 100px;
	align-items: center;
	justify-content: right;
	font-size: calc(10px + 2vmin);
	border: none;
	position: fixed;
    right: 0px;
    z-index: 1;
	
	.headerImage {
		position: absolute;
		display: flex;
		justify-content: flex-end;
		
		right: -60px;
		height: 150px;
		flex-wrap: nowrap;
		z-index: -1;
	}

	.headerButtons {
		display: flex;
		gap: clamp(1px, 0.5vw, 20px);
		background-repeat: no-repeat;
		mask-image: none;
		border-bottom: 4px double #606C5D;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		z-index: 0;

		button {
			border: none; //1px solid #606C5D;
			padding: 1em min(1em, 2vw, 2em);
			color: #606C5D;
			font-family: 'Open Sans';
			font-size: clamp(16px, 3vw, 18px);
			letter-spacing: 4px;
			--c:  #FFF4F4; /* the color*/
			
			--_g: linear-gradient(var(--c) 0 0) no-repeat;
			background: 
			var(--_g) calc(var(--_p,0%) - 100%) 0%,
			var(--_g) calc(200% - var(--_p,0%)) 0%,
			var(--_g) calc(var(--_p,0%) - 100%) 100%,
			var(--_g) calc(200% - var(--_p,0%)) 100%;
			background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
			transition: background-size .4s, background-position 0s .4s;
		}

		button:hover {
			--_p: 100%;
			transition: background-position .4s, background-size 0s;
		}

		button:active {
			box-shadow: 0 0 9e9q inset #0009; 
			background-color: var(--c);
			color: #fff;
		}
	}

	@media (max-width: 768px) {
		width:100%;
		justify-content: center;

		.headerImage {
			right: unset;
		}
	}

}