@import "../styles/container_12";

.projectsList {
	padding-bottom: 500px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 768px) {
	.projectsList {
		display: flex;
		flex-direction: column;
		align-content: center;
	}
}