.MainPage {
	display: flex;
    align-items: center;
	height:calc(100vh - 100px);
	
	

	.background {
		padding:50px;
		background-color: #ffffffc7;
		
		display: flex;
		margin: 0 10%;
		height: 80%;
		width: 80%;
		align-items: center;
		justify-content: space-around;

		:hover {
			> img {
				scale: 110%;
				transition: scale 1.5s ease-out;
			}
		}

		> img {
			position: absolute;
			top: 0;
			left: 5%;
			rotate: 45deg;
			scale: 150%;
			z-index: -1;
		}

		.leftSide {
			.name {
				font-size: 48px;
			}

			.role {
				font-size: 24px;
				color: #606C5D;
			}
		}

	}
}