@import './styles/settings';

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: url('./images/Website_features/bg_scroll.png');
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fcff62;
    box-shadow: 0em 0em 1em rgb(243, 241, 111);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border: 2px solid white;
    background: #8527bb;
    background-image: url('./images/Website_features/scrollbar.png');
}
